<div class="advanced-group p-4 pb-0 border border-[var(--Gray-03)] rounded-lg" id="accordion-flush-{{item.id}}">
  <h2 id="accordion-flush-heading-{{item.id}}">
    <button type="button" class="flex items-center justify-between w-full gap-3 font-bold pb-4"
      data-accordion-target="#accordion-flush-body-{{item.id}}" aria-expanded="true"
      aria-controls="accordion-flush-body-{{item.id}}">
      <span>{{item.title}}</span>
      <span
        class="advanced-count rounded-3xl text-xs bg-[var(--Primary-02)] py-0.5 px-2 text-white ml-auto hidden">04</span>
      <span class="icon icon-[ph--caret-down-fill] transition-all shrink-0"></span>
      </svg>
    </button>
  </h2>
  <div id="accordion-flush-body-{{item.id}}"
    class="hidden transition-all border-t border-[var(--Gray-03)] text-[var(--Gray-01)] pb-4"
    aria-labelledby="accordion-flush-heading-{{item.id}}">
    {{!-- Case with subtitle --}}
    {{#if item.subTitles}}
    {{#each item.subTitles as |sub|}}
    {{#if sub.title}}
    <h3 class="font-bold py-4">{{sub.title}}</h3>
    {{else}}
    <h3 class="font-bold pt-4"></h3>
    {{/if}}
    <div class="flex flex-wrap justify-start border-b pb-4 last:pb-0 last:border-none">
      {{#each sub.items as |sitem|}}
      <label class="flex items-center gap-2 flex-[0_1_25%] cursor-pointer text-xs lg:text-sm py-1">
        <input type="checkbox" value="{{sitem.value}}" name="{{../../item.queryName}}"
          class="w-4 h-4 text-[var(--Primary-02)] focus:ring-0 border-[var(--Neutral-05)] rounded-sm">
        <span class="pr-2 block text-nowrap">{{sitem.title}}</span>
      </label>
      {{/each}}
    </div>
    {{/each}}
    {{!-- Case without subtitle --}}
    {{else}}
    <div class="flex flex-wrap justify-start border-b pb-4 last:pb-0 last:border-none pt-4">
      {{#each item.items as |sitem|}}
      <label class="flex items-center gap-2 flex-[0_1_25%] cursor-pointer text-xs lg:text-sm py-1">
        <input type="checkbox" value="{{sitem.value}}" name="{{../item.queryName}}"
          class="w-4 h-4 text-[var(--Primary-02)] focus:ring-0 border-[var(--Neutral-05)] rounded-sm">
        <span class="pr-2 block text-nowrap">{{sitem.title}}</span>
      </label>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
