<header id="header" class="py-2 px-4 lg:py-4 lg:px-6 flex gap-6 items-center justify-start fixed inset-x-0 top-0 z-10">
  <h1 id="logo" class="p-1 bg-white rounded-[10px]">
    <a href="/">
      <img src="/images/logo.png" srcset="/images/logo.png 1x, /images/logo@2x.png 2x" class="w-24 lg:w-20"
        alt="Ajinomoto - Món ngon mỗi ngày" />
    </a>
  </h1>
  <a href="#"
    class="menu-toggle ml-auto flex lg:hidden items-center justify-center border border-[var(--Gray-03)] rounded p-1">
    <span class="icon-[ph--text-align-right] text-2xl"></span>
  </a>
  <div
    class="nav-wrap flex lg:justify-start lg:items-center flex-auto fixed lg:static top-0 right-0 flex-col lg:flex-row h-screen lg:h-auto w-screen lg:w-auto justify-between pointer-events-none lg:pointer-events-auto">
    <div class="menu-bg absolute inset-0 w-screen h-screen bg-[var(--Gray-01)] opacity-0 lg:hidden transition-all">
    </div>
    <nav id="mainNav"
      class="main-nav text-xs font-bold lg:h-[30px] w-72 lg:w-auto ml-auto lg:ml-0 bg-white lg:bg-transparent z-10 flex-auto pt-6 px-6 lg:pt-0 lg:px-0 translate-x-full lg:translate-x-0 transition-all">
      <div class="flex self-stretch items-center justify-between text-xl lg:hidden pb-2">Menu <a href="#"
          class="menu-toggle">
          <span class="icon-[ph--x-bold] text-2xl"></span>
        </a></div>
      <ul class="flex items-start lg:items-center flex-col lg:flex-row gap-1 lg:gap-0">
        {{#each navigation as |item| }}
        <li
          class="{{#if item.active}}active{{/if}} group items-center lg:px-2 py-2 lg:py-0 lg:border-r border-[var(--Gray-03)] text-[var(--Gray-01)] hover:text-[var(--Primary-02)] relative first:pl-0 self-stretch justify-between">
          <a href="{{item.path}}" class="flex items-center gap-1 h-full self-stretch justify-between">
            {{#if item.icon}}
            <span class="icon-[ph--house-fill] text-[28px]"></span>
            {{else}}
            {{item.name}}
            {{/if}}
            {{#if item.submenu}}
            <span class="icon-[ph--caret-down-fill] text-sm"></span>
            {{/if}}
          </a>
          {{#if item.submenu}}
          <div
            class="relative lg:absolute top-full left-0 group-hover:pt-2 pl-2 opacity-0 transition-all pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto group-hover:h-auto h-0 group-hover:scale-y-100 lg:h-auto transform scale-y-0 lg:scale-1 origin-top">
            <ul class="w-[230px] p-3 lg:p-4 bg-white rounded-lg border border-[var(--Gray-03)]">
              {{#each item.submenu as |subitem| }}
              <li
                class="{{#if subitem.active}}active{{/if}} border-b border-[var(--Gray-03)] text-[var(--Gray-01)] py-3 lg:py-2 first:pt-0 last:border-none last:pb-0">
                <a href="{{subitem.path}}"
                  class="flex items-center gap-1 lg:p-2 hover:bg-[var(--Primary-04)] rounded-lg">
                  {{#if subitem.icon}}
                  <span class="icon-[ph--house-fill] text-[28px]"></span>
                  {{else}}
                  {{subitem.name}}
                  {{/if}}
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ul>
    </nav>
    <div
      class="user-menu w-72 lg:w-auto ml-auto relative flex-shrink-0 bg-white lg:bg-transparent translate-x-full lg:translate-x-0  transition-all">
      <span class="hidden lg:block italic text-xs absolute -top-6 -left-8">Đăng ký thành viên để hưởng ưu đãi ...</span>
      <ul class="flex gap-4 flex-col lg:flex-row py-4 px-6 lg:p-0">
        <li class="flex-shrink-0">
          <a href="#"
            class="btn btn-primary btn-default btn-login uppercase w-full lg:w-auto justify-center lg:justify-start">
            <span>Sign In</span>
            <img class="icon" src="/images/icons/user-signin.svg" />
          </a>
        </li>
        <li class="flex-shrink-0">
          <a href="#" class="btn btn-primary btn-login uppercase w-full lg:w-auto justify-center lg:justify-start">
            <span>Sign Up</span>
            <img class="icon" src="/images/icons/user-signup.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
