<div
  class="hidden lg:!flex flex-col mt-6 lg:mt-10 gap-5 w-full group-has-[.group-1]:lg:flex-row group-has-[.slider]:px-4 group-has-[.group-2]:flex-[0_1_calc(50%_-_20px)] group-has-[.group-3]:flex-[0_1_calc(33%_-_20px)] group-has-[.group-4]:flex-[0_1_calc(24%_-_20px)] lg:mb-20 group-has-[.group-1]:lg:border group-has-[.group-1]:lg:!p-10 group-has-[.group-1]:lg:rounded-2xl [&:nth-child(1)]:!flex [&:nth-child(2)]:!flex {{itemClass}}">
  <div class="relative rounded-2xl overflow-hidden group-has-[.group-1]:flex-[0_1_calc(50%_-_20px)]">
    <img src="{{item.image}}" alt="" class="w-full object-cover group-has-[.group-4]:aspect-square" />
    <img src="/images/chef-recommend.png" srcset="/images/chef-recommend.png 1x, /images/chef-recommend@2x.png 2x"
      alt="Chef Recommend" class="absolute left-2 bottom-2">
    <a href="#" data-tooltip-target="{{item.id}}" data-tooltip-placement="top"
      class="absolute top-4 right-4 w-12 h-12 rounded-full border border-[var(--Gray-02)] bg-[var(--Gray-03)] flex items-center justify-center text-[var(--Gray-02)] hover:text-[var(--Primary-02)] hover:border-[var(--Primary-02)] hover:bg-[var(--Primary-03)] transition-all">
      <span class="icon-[ph--heart-fill] text-2xl"></span>
    </a>
  </div>
  <div id="{{item.id}}" role="tooltip"
    class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white transition-opacity duration-300 bg-black/70 rounded-md opacity-0 tooltip">
    Click here to Save Recipe
  </div>
  <div class="flex flex-col gap-5 w-full group-has-[.group-1]:lg:flex-[0_1_calc(50%_-_20px)]">
    <div class="flex gap-2 justify-between group-has-[.group-1]:lg:flex-col-reverse">
      <h3 class="text-xl font-bold">{{item.title}}</h3>
      <div class="tag tag-small max-w-min">
        280
        <span class="icon icon-[ph--eye-fill]"></span>
      </div>
    </div>
    <div class="tags">
      <div class="tag">
        <span class="icon icon-[ph--users]"></span>
        2 People
      </div>
      <div class="tag">
        <span class="icon icon-[ph--gauge]"></span>
        Medium
      </div>
      <div class="tag">
        <span class="icon icon-[ph--timer]"></span>
        10 Min
      </div>
      <div class="tag">
        <span class="icon icon-[ph--cooking-pot]"></span>
        30 Min
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqu...</p>
    <div>
      <a href="#" class="btn btn-primary btn-default flex-grow-0">
        View Detail
        <span class="icon icon-[ph--caret-right-bold]"></span>
      </a>
    </div>
  </div>
</div>
